.profile {
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: larger;
	font-family: cursive;
	font-weight: bolder;
	color: white;
}
.image {
	height: 80vh;
	width: 60vw;
	margin: 20px;
	border: 10px solid black;
}

.profile-item {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	margin: 10px;
}

.grid {
	display: grid;
}

.profile-item > div {
	margin: 10px;
}

.back {
	width: 6vw;
	height: 8vh;
}