.search-by {
	display: flex;
	margin: 10px;
	font-size: 1rem;
	align-items: center;
	justify-content: left;
}

.color {
	background-color: aqua !important;
}
.search-by > span {
	margin-right: 10px;
	background-color: white;
	color: black;
	padding: 5px;
}

.input {
	color: black;
}

