.search-by {
	display: flex;
	margin: 10px;
	align-items: center;
	justify-content: left;
}

.by-items {
	border: 2px solid black;
	border-radius: 20px;
	margin-right: 10px;
	background: white;
	color: black;
	padding: 10px;
}
.by-items:hover {
	background: linear-gradient(rgb(149, 161, 13), rgb(0, 0, 0));
	color: white;
}

.color {
	border: 2px solid white;
	background: linear-gradient(rgb(149, 161, 13), rgb(0, 0, 0));
	color: white;
}


.search-input {
	color: black;
	margin-right: 15px;
	width: 40vw;
	height: 5vh;
	font-size: large;
	padding: 5px;
	flex: 1;
	border-radius: 20px;
}

.search-button {
	height: 6vh;
	border-radius: 20px;
	width: 8vw;
}
.search-button:hover {
	border: 2px solid white;
	background: linear-gradient(rgb(149, 161, 13), rgb(0, 0, 0));
	color: white;
}

.bar {
	display: flex;
	align-items: center;
	margin-top: 5vh;
	margin-bottom: 1vh;
}

.search {
	display: grid;
	justify-content: center;
	align-items: center;
}


